


.sevice-details-container {
	margin-top: 40px;
	margin-bottom: 45px;

	.row {
		margin-bottom: 35px;
	}


	.padding {
		padding:0 25px;
	}
	.block {
		width: 100%;
		text-align: center;
		img {
			margin: 0 auto;
			width: 128px;

		}
	}

	h2 {
    		text-align: center;
		}
}